.page {
    display: flex;
    min-width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        
        .hero-container {
            inline-size: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 30px;
            font-size: clamp(1rem, 0.7876rem + 0.9061vw, 1.875rem);

            .hero-container__graphic {
                position: relative;
                width: 20vw;
                aspect-ratio: 1;
                border-radius: 50%;
            }
        }
    }
}

.graphic-first-question {
    background: conic-gradient(
        #FF6961 0% 55.1%,
        #8BD3E6  55.1% 100%
    );

    &.hero-container__graphic::before {
        position: absolute;
        content: '44.9%';
        display: block;
        color: white;
        font-size: clamp(0.5rem, -0.5156rem + 3.25vw, 3.75rem);
        inset-block-start: 42%;
        inset-inline-start: 10%;
    }

    &.hero-container__graphic::after {
        position: absolute;
        content: '55.1%';
        display: block;
        color: white;
        font-size: clamp(0.5rem, -0.5156rem + 3.25vw, 3.75rem);
        inset-block-start: 53%;
        inset-inline-start: 57%;
    }
}



.graphic-second-question {
    background: conic-gradient(
        #FF6961 0% 50.6%,
        #8BD3E6  49.4% 100%
    );

    &.hero-container__graphic::before {
        position: absolute;
        content: '49.6%';
        display: block;
        color: white;
        font-size: clamp(0.5rem, -0.5156rem + 3.25vw, 3.75rem);
        inset-block-start: 44%;
        inset-inline-start: 10%;
    }

    &.hero-container__graphic::after {
        position: absolute;
        content: '50.6%';
        display: block;
        color: white;
        font-size: clamp(0.5rem, -0.5156rem + 3.25vw, 3.75rem);
        inset-block-start: 44%;
        inset-inline-start: 57%;
    }
}

.graphic-third-question {
    background: conic-gradient(
        #FF6961 0% 41.4%,
        #8BD3E6  41.4% 100%
    );

    &.hero-container__graphic::before {
        position: absolute;
        content: '58.6%';
        display: block;
        color: white;
        font-size: clamp(0.5rem, -0.5156rem + 3.25vw, 3.75rem);
        inset-block-start: 54%;
        inset-inline-start: 12%;
    }

    &.hero-container__graphic::after {
        position: absolute;
        content: '41.4%';
        display: block;
        color: white;
        font-size: clamp(0.5rem, -0.5156rem + 3.25vw, 3.75rem);
        inset-block-start: 37%;
        inset-inline-start: 60%;
    }
}

.graphic-fourth-question {
    background: conic-gradient(
        #FF6961 0% 64.8%,
        #8BD3E6  64.8% 100%
    );

    &.hero-container__graphic::before {
        position: absolute;
        content: '35,2%';
        display: block;
        color: white;
        font-size: clamp(0.5rem, -0.5156rem + 3.25vw, 3.75rem);
        inset-block-start: 35%;
        inset-inline-start: 11%;
    }

    &.hero-container__graphic::after {
        position: absolute;
        content: '64,8';
        display: block;
        color: white;
        font-size: clamp(0.5rem, -0.5156rem + 3.25vw, 3.75rem);
        inset-block-start: 59%;
        inset-inline-start: 60%;
    }
}
