@mixin default-setting-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

@mixin background-gradient($point) {
    box-shadow: 0 0 0 3px rgb(58, 58, 58);
    background: conic-gradient(
        #FF6961 0% $point,
        #8BD3E6  $point 100%
    );
}

@mixin stastictics-font($content, $inset-block-start, $inset-inline-start) {
    position: absolute;
    content: $content;
    display: block;
    color: white;
    font-size: clamp(0.5rem, -0.0163rem + 2.2029vw, 2.875rem);
    inset-block-start: $inset-block-start;
    inset-inline-start: $inset-inline-start;
}

.page {
    @include default-setting-container;
    margin-block-end: 5%;

    .title {
        margin-block-start: 5%;
        margin-block-end: 3%;
        margin-inline: 5%;
        text-align: center;
        font-size: clamp(1.25rem, 0.5707rem + 2.8986vw, 4.375rem);
    }

    .hero {
        @include default-setting-container;
        align-items: center;
        gap: 50px;
        
        .hero-container {
            border: 3px solid black;
            box-shadow: 15px 15px 0 0 rgb(58, 58, 58);
            padding-block: 20px;
            padding-inline: 20px;
            border-radius: 20px;
            inline-size: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 30px;
            font-size: clamp(1rem, 0.7876rem + 0.9061vw, 1.875rem);

            .hero-container__graphic {
                position: relative;
                width: 20vw;
                aspect-ratio: 1;
                border-radius: 50%;
            }
        }

        @media (max-width: 768px) {
            .hero-container {
                inline-size: 85%;
            }
        }
    }
}

// Статистика для основных вопросов

.graphic-first-question {
    @include background-gradient(55.2%);

    &.hero-container__graphic::before {
        @include stastictics-font('44.8%', 42%, 10%);
    }

    &.hero-container__graphic::after {
        @include stastictics-font('55.2%', 53%, 57%);
    }
}

.graphic-second-question {
    @include background-gradient(50.2%);
    
    &.hero-container__graphic::before {
        @include stastictics-font('49.8%', 44%, 10%);
    }

    &.hero-container__graphic::after {
        @include stastictics-font('50.2%', 44%, 57%);
    }
}

.graphic-third-question {
    @include background-gradient(41.4%);

    &.hero-container__graphic::before {
        @include stastictics-font('58.6%', 52%, 12%);
    }

    &.hero-container__graphic::after {
        @include stastictics-font('41.4%', 37%, 60%);
    }
}

.graphic-fourth-question {
    @include background-gradient(65.4%);

    &.hero-container__graphic::before {
        @include stastictics-font('34,6%', 35%, 11%);
    }

    &.hero-container__graphic::after {
        @include stastictics-font('65.4', 59%, 60%);
    }
}

// Подробная статистика

.da-and-da {
    @include background-gradient(64.7%);

    &.hero-container__graphic::before {
        @include stastictics-font('35,3%', 35%, 11%);
    }

    &.hero-container__graphic::after {
        @include stastictics-font('64,7', 59%, 60%);
    }
}

.net-and-net {
    @include background-gradient(58.3%);

    &.hero-container__graphic::before {
        @include stastictics-font('41,7%', 35%, 11%);
    }

    &.hero-container__graphic::after {
        @include stastictics-font('58,3%', 59%, 60%);
    }
}

.da-and-net {
    @include background-gradient(90.6%);

    &.hero-container__graphic::before {
        @include stastictics-font('9,4%', 6%, 26.5%);
    }

    &.hero-container__graphic::after {
        @include stastictics-font('90,6%', 68%, 43%);
    }
}

.net-and-da {
    @include background-gradient(86.8%);

    &.hero-container__graphic::before {
        @include stastictics-font('13,2%', 10%, 20%);
    }

    &.hero-container__graphic::after {
        @include stastictics-font('86,8%', 68%, 43%);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: white !important;
        color: black !important;
    }
}
