doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="color-scheme" content="light dark")
        title Graphics
        link(rel="stylesheet", href="/bundle.css")
    body.page
        h1.title
            | Основная статистика
        
        section.hero
            article.hero-container
                | Чувствуешь ли ты нехватку студенческих 
                | мероприятий, направленных на развитие хардскиллов, 
                | таких как хакатоны, митапы и другие подобные активности?
                div.hero-container__graphic.graphic-first-question
            
            article.hero-container
                | Хочешь ли ты участвовать в таких мероприятиях?
                div.hero-container__graphic.graphic-second-question
            
            article.hero-container
                | Хотел/ла бы ты поучаствовать в создании командного 
                | информационного продукта?
                div.hero-container__graphic.graphic-third-question

            article.hero-container
                | Есть ли у тебя идеи для пет-проектов, которые ты 
                | хотел/ла  бы реализовать в сотрудничестве с другими 
                | людьми? (Для портфолио или для более масштабных целей)
                div.hero-container__graphic.graphic-fourth-question
        
        h2.title
                | Подробная статистика по первым двум вопросам

        section.hero
            article.hero-container
                | Студенты которые хотят участвовать на таких мероприятиях и считают 
                | что таких мероприятий направленных на хардскиллы должно стать больше 
                div.hero-container__graphic.da-and-da
            
            article.hero-container
                | Студенты которые не хотят участвовать на таких мероприятиях и считают 
                | что таких мероприятий достаточно
                div.hero-container__graphic.net-and-net
            
            article.hero-container
                | Студенты которые не хотят участвовать на таких мероприятиях и считают
                | что таких мероприятий не достаточно
                div.hero-container__graphic.da-and-net
            
            article.hero-container
                | Студенты которые хотят участвовать на таких мероприятиях и считают
                | что таких мероприятий достаточно
                div.hero-container__graphic.net-and-da

